html{
    
    --font-title:"Railway", sans-serif;
    --generalFont: "Roboto condensed", sans-serif;
    
    --bgColor:#E9E3DF;
    --hgColor:#000000;
    --primaryColor:#FE7743;
    --secundaryColor:#465C88;
}


form{
    display: flex;
    flex-direction: column;
    color: var(--bgColor);
    width: 350px;
    background-color: var(--secundaryColor);
    border-radius:10px;
    padding: 20px 30px;
    margin:50px auto;
}

label{
    display: block;
    font-family: var(--generalFont);
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button{
    width: 30%;
    background-color: white;
    color:black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color:rgba(50, 127, 242, 0.168);
}

.navbar {
    background-color: var(--secundaryColor) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.nav-link {
    color: #ddd !important;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #093046 !important;
}

.navbar-brand {
    color: #f8f8f8 !important;
    font-weight: bold;
    font-size: 1.5rem;
}

footer {
    margin-top: 3rem;
    background-color: var(--secundaryColor);
    color: #eee;
    border-radius: 15px;
    text-align: center;
    padding: 2rem 0;
}

.custom-footer {
    background: var(--bgColor);
    border: none;
    color: #000000;
    border-radius: 12px;
    max-width: auto;
    margin: 0 auto;
}

.custom-footer .card-header {
    background-color: var(--bgColor);
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
}

.card {
    background: var(--secundaryColor);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 89, 255, 0.5);
}

.card-img-top {
    object-fit: cover;
    border-bottom: 2px solid --bgColor;
}

.card-title {
    color: var(--bgColor);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.card-text {
    color: #ffffff;
}

.btn-primary {
    background-color: var(--primaryColor);
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #ec8028;
    box-shadow: 0 0 10px #be6f15, 0 0 30px #da8234;
    transform: scale(1.05);
}